# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# testing       
/coverage

# production
/build

# misc
.DS_Store       
.env.local
.env.development.local
.env.test.local
.env.production.local

    Agv;',arn-debug.log*
yarn-error.log*

/node_tut
/frontend
/client/node_modules
/client/public/assets/vendor
/client/public/assets/img
/api/node_modules